.navbar
{
    background-color: #B24300;
    background-image: none;
    margin-bottom: 100px;
}
body{
  background-color: black;
  margin: 100px;
  color: #9CFEFF;
}

.julie{
  width:1000px;
  height:563px;
  margin: 80px auto auto auto;
  display: block;

}
h2{
  color: white;
  margin-right: 15px;
}
h3{
  font-size: 55px;
}
#about {
  text-align: center;
  /*clear:both;*/
  /*position: absolute;*/
  top: 90px;
  left: 0;
  width: 100%;
  color: white;
}
.image {
   position: relative;
   width: 100%; /* for IE 6 */
}
#projects {
  text-align: center;
  /*clear:both;*/
  /*position: absolute;*/
  top: 50px;
  left: 0;
  width: 100%;
  color: white;
}
.project-section{
  clear:both;

}
#resume {
  text-align: center;
  clear:top;
  /*position: absolute;*/
  top: 100px;
  left: 0;
  width: 100%;
  color: white;
}

.bar-image{
  height: 400px;
  display: block;
  margin: auto;
}

.project-box{
  width: 500px;
  height: 250px;
  -webkit-box-shadow: 10px 10px 5px 0px #9CFEFF;
  -moz-box-shadow: 10px 10px 5px 0px #9CFEFF;
  box-shadow: 10px 10px 5px 0px #9CFEFF ;
  /*rgba(0,0,0,0.75)*/

}

.tech-li {
  list-style-type: disc;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  list-style-position: inside;
}

h4{
  text-decoration: underline;
}

.space{
  height: 200px;
}
#contact {
  text-align: center;
  clear:top;
  /*position: absolute;*/
  top: 100px;
  left: 0;
  width: 100%;
  color: white;
}


#icon-section{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;

}

.flex-item{
  margin: 15px;
}
/*=== MB share buttons ===*/
.mb_share .button {
  background:#DCE0E0;
  position:relative;
  float:left;
  margin:0 7px 14px;
  width:150px;
  height:40px;
  overflow:hidden;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.mb_share .button .icon {
  float:left;
  z-index:200;
  position:relative;
  width:40px;
  height:40px;
  -webkit-border-radius:3px 0px 0px 3px;
  -moz-border-radius:3px 0px 0px 3px;
  border-radius:3px 0px 0px 3px;
  background-repeat:no-repeat;
  background-image: url(path_to/svg);
}
.mb_share .button .native_button {
  width:110px;
  height:40px;
  float:left;
  background:#DCE0E0 !important;
  display:table;
}
.mb_share .button .native_button > div {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
.mb_share .button .slide {
  position:absolute;
  right:0;
  top:0;
  z-index:100;
  float:left;
  width:110px;
  height:40px;
  transition:.2s transform linear;
  -webkit-transition:.2s -webkit-transform linear;
  -moz-transition:.2s -moz-transform linear;
}
.mb_share .button .slide span {
  color:#fff;
  display:block;
  cursor:default;
  width:100%;
  text-align:center;
  margin:10px 0;
  padding:2px 0;
  font-size:16px;
  border-left:1px solid rgba(255,255,255,0.35);
}
/* Transitions */
.mb_share .button.slide_x:hover .slide {
  -webkit-transform:translateX(110px);
  -moz-transform:translateX(110px);
  transform:translateX(110px);
}
.mb_share .button.slide_nx:hover .slide {
  -webkit-transform:translateX(-110px);
  -moz-transform:translateX(-110px);
  transform:translateX(-110px);
}
.mb_share .button.slide_y:hover .slide {
  -webkit-transform:translateY(40px);
  -moz-transform:translateY(40px);
  transform:translateY(40px);
}
.mb_share .button.slide_ny:hover .slide {
  -webkit-transform:translateY(-40px);
  -moz-transform:translateY(-40px);
  transform:translateY(-40px);
}
/*========================*/
/*=== Colors ===*/
/* FACEBOOK */
.mb_share .button.facebook .icon {
  background-position:-40px 0;
}
.mb_share .button.facebook > div {
  background-color:#305c99;
}
/* TWITTER */
.mb_share .button.twitter .icon {
  background-position:0 0;
}
.mb_share .button.twitter > div {
  background-color:#00cdff;
}

/* GOOGLE PLUS */
.mb_share .button.gplus .icon {
  background-position:0 -40px;
}
.mb_share .button.gplus > div {
  background-color: red;
}
/* LINKEDIN */
.mb_share .button.linkedin .icon {
  background-position:-40px -40px;
}
.mb_share .button.linkedin > div {
  background-color:#007bb6;
}

/* GITHUB */
.mb_share .button.github .icon {
  background-position:0 -80px;
}
.mb_share .button.github > div {
  background-color:#42c0fb;
}

/*==============*/
